[mysqld]
server-id=2
relay-log=mysql-relay-bin
read-only=1
log_bin=mysql-bin
log_slave_updates=1
binlog-format=ROW
bind-address=0.0.0.0
log_bin_trust_function_creators = 1

[client]
socket=/var/lib/mysql/mysql.sock