# Основные параметры
Server=192.168.56.14
ServerActive=192.168.56.14
Hostname=ZabbixAgentHost

# Порт (по умолчанию 10050, можно изменить, если нужно)
ListenPort=10050

# Лог-файл
LogFile=/var/log/zabbix/zabbix_agent2.log

# Уровень отладки (0-5, 3 обычно достаточно)
DebugLevel=3

# Путь к файлам PID
PidFile=/var/run/zabbix/zabbix_agent2.pid

# Включение активных проверок
#EnableActiveChecks=1

# Таймаут соединения
Timeout=3